*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    // font-family: monospace;
  }
  
  body{
     background-color: #f3f3f3;
  }

  button {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    padding: 14px 33px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    a {
        text-decoration: none;
    }
}
  .wrapper{
    position: relative;
    width: auto;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    .left{
        width: 35%;
        background: linear-gradient(to right,#1d99df,#01dbdf);
        padding: 30px 25px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        color: #fff;
        img{
            border-radius: 5px;
            margin-bottom: 10px;
            width: 200px;
            height: 200px;
          }
           h4{
            margin-bottom: 10px;
          }
          
         p{
            font-size: 12px;
          }
      }
      .right{
        width: 65%;
        background: #fff;
        padding: 30px 25px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .info,
        .projects{
            margin-bottom: 25px;
                h3 {
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #e0e0e0;
                    color: #353c4e;
                    text-transform: uppercase;
                    font-family:monospace ;
                    // letter-spacing: 5px;
                }
                .info_data,
                .projects_data{
                    display: flex;
                    justify-content: space-between;
                    .data {
                        width: 45%;
                        h4 {
                            color: #353c4e;
                            margin-bottom: 5px;
                        }
                        .p {
                            font-size: 13px;
                            margin-bottom: 10px;
                            color: #919aa3;
                        }
                    }
                }
            }
            
      }
  }
  

  

  

  

  
  
  
  
  
  
  
 
  

  

  
  