
.cv__section {
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
    box-sizing: border-box;
    
    .inner__width {
        width: 100%;
        margin: auto;
        // padding: 0 10px;
        display: block !important;
        >h1 {
            text-align: center;
            text-transform: uppercase;
            color: #333;
            font-size: 32px;
        }
        
        .cv {
            // flex-wrap: wrap-reverse;
            justify-content: space-between;
            margin-top: 30px;
            .cv_box{
                display: inline-block;
                width: 100%;
                padding: 0px 5px;
            }
        }
            
        // .border {
        //     width: 180px;
        //     height: 4px;
        //     background: #333;
        //     margin: 60px auto;
        // }
    }
    
}

// @media screen and (min-width: 576px){
//     :global(.container) {
//         max-width: 1140px !important;
//         width: 96%;
//         display: flex !important;
//         justify-content: space-between !important;
        
//     }
    

// }
@media screen and (min-width: 1025px){
    .cv__section{
        .inner__width{
            .cv{
                .cv_box{
                    width: 25%;
                }
            }
        }
    }
}