
.cv__section {
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
    box-sizing: border-box;
    img {
        width: 100%;
        height: 96%;
        transition: .4s;
        margin-top: 10px;
    }
    h2 {
        font-weight: bold;
        margin-top: 16px !important;
        color: #363636;
        font-size: 16px;
    }
    .inner__width {
        width: 100%;
        margin: auto;
        // padding: 0 10px;
        display: block !important;
        >h1 {
            text-align: center;
            text-transform: uppercase;
            color: #333;
            font-size: 32px;
        }
        
        .cv {
            display: flex;
            // flex-wrap: wrap-reverse;
            justify-content: center;
            margin-top: 30px;
            .cv__flex {
                border: 1px solid #d7d7d7;
                // margin: 0px 20px;
                margin-bottom: 20px;
                // overflow: hidden;
                height: 100%;
                &:hover {
                    cursor: pointer;
                }
                .cvTitle {
                    border-top: 1px solid #d7d7d7;
                    text-align: center;
                    color: #626262;
                    font-size: 16px;
                    font-weight: 700;
                    height: 50px;
                    line-height: 50px;
                    background: #ffffff;
                    &:hover h2{
                        color: #1a8a58 ;
                    }
                }
            }
            
        }
        // .border {
        //     width: 180px;
        //     height: 4px;
        //     background: #333;
        //     margin: 60px auto;
        // }
    }
    
}
:global(.image) {
    width: 100%;
    height: 100%;
    &:hover img {
        transform: scale(1.05);
    }
}
// @media screen and (min-width: 576px){
//     :global(.container) {
//         max-width: 1140px !important;
//         width: 96%;
//         display: flex !important;
//         justify-content: space-between !important;
        
//     }
    

// }