$main_color : #1d99df;

.Menu {
    background-color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    >nav {
        margin-bottom: 20px;
        border-bottom: 0.5px solid #e7e7e7;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
    a {
        font-weight: 700;
        line-height: 20px;
        padding: 10px 15px;
        display: block;
    }

    li {
        box-sizing: border-box;
        padding-top : 15px;
    }

    :global(.fa):hover {
            color: $main_color;
            cursor: pointer;
            
    }

    .NavbarCustom {

        :global(.navbar-collapse){
            border-top: 1px solid  #e7e7e7;
            justify-content: flex-end;
            
        }

        :global(.navbar-toggler){
            float: right;
        }
        
       
        :global(.nav-item ) {
            &:hover {
                color: $main_color;
                
            }
            :global(.active ) {
                color: $main_color;
                border-bottom:  1px solid $main_color;
                box-sizing: border-box;
                
            }
            
        }
        :global(.nav-notification) {
            padding: 0;
            
            >a {
                box-sizing: border-box;
                display: inline-block;
                padding: 23px 14px;
                color: #333;
                &:hover {
                    color: #1d99ff;
                }
                >i {
                    font-size: 20px;
                }
            }
        }
        :global(.nav-btn ) {
            height: 100%;
            color: #fff;
            background-color: #324554;
            outline: 1px solid #324554;
            transition: background-color .3s;
            padding: 0;
            &:hover {
                background-color: #1e2429;
            }
            >a {
                box-sizing: border-box;
                display: inline-block;
                height: 100%;
                padding: 15px;
                
            }
        }
        :global(.text-white) {
            color: #fff;
        }
        :global(.text-white.normal) {
            font-weight: normal;
        }
    }
}
@media screen and (min-width: 576px){
    :global(.container) {
        width: 100%;
        max-width: 768px !important;
    }
}
@media screen and (min-width: 768px){
    :global(.container) {
        max-width: 1140px !important;
        width: 96%;
        display: flex !important;
        justify-content: space-between !important;
        
    }
    

}