.box {
    margin-top: -19px;
    background-color: #212f3f;
}
.SearchBarContainer {
    $item_height: 45px;
    $base_item_margin: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .SearchBar {
        margin-bottom: 0px;
        padding: 10px 0;
        width: 100%;
        
            
        .FirstRow {
             display: block ;
            .searchInput{
                position: relative;
                width: 100%;
                margin: 0;
                padding: 0;
                
            .TitleSearch {
                    height: 100%;

                }
            

           
        }
        .buttonSearch{
            position: relative;
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
}
}
@media screen and (min-width: 768px){
    :global(.firtRow) {
         
        display: flex !important ;
    }
}
@media screen and (min-width: 576px){
    :global(.FirstRow) {
        display: block;
    }
    :global(.col-sm-10) {
        max-width: 100% !important;
    }
    :global(.col-sm-2) {
        max-width: 100% !important;
    }
    
}