.container{
    position: relative;
    border-radius: 5px;
    margin-bottom: 15px;
    .icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5em;
    }
    :global(input) {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5em;
        padding-left: 2em; 
        border-radius: 2px; 
        border: none;
        box-shadow: none;
        line-height: 24px;
        font-weight: 400;
        color: rgba(0,0,0,.85);
        font-size: 14px;
        height: 44px;
    }
}