.voteRow {

    width: 100% ;
//  padding-bottom: 1rem;
    .vote {
        width: 100%;
        position: relative;
        .dataName {
            width: 15%;
            float: left;
            margin: 5px;
            padding:5px 10px 5px 10px;
            border-bottom: 1px solid #3b576d;
        }
        .block_actions {
            position: absolute;
            top: -15px;
            right: 0;
            display: block;
            .delAction {
                background-color: #f15c4c;
                border: 0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-right: 5px;
                float: left;
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                line-height: 25px;
                padding: 0 6px;
                outline: none;
                
        
            }
        }
    }
    
    
}