.Logo {
    // background-color: white;
    // padding: 8px;
    height: auto;
    padding: 10px 15px 10px 0;
    

    img {
        display: inline-block;
        width: 101px;
        height: auto;
    }
}