.container {
    background-color: #f0f0f0;
    h3 {
        display: inline-block;
        background: #fff;
        position: relative;
        margin: 0;
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .line {
        position: absolute;
        top: 50%;
        margin-top: 1px;
        height: 1px;
        background: #000;
        width: 100%;
        left: 0;
    }
    b {
        width: 25%;
        font-size: 14px;
        float: left;
        text-align: left;

    }
    i{
        width: 44px;
        height: 44px;
        text-align: center;
        line-height: 44px;
        background: #000;
        color: #fff;
        margin-bottom: 7px;
        font-size: 22px;
        border-radius: 50px;
    }
    .change1 {
        cursor: text;
        padding: 2px;
        display: inline-block;
        width: 70%;
        border: none;
        font-size: 14px;


        &:hover {
            outline: #3b576d dotted 1px; 
        }
        
    }
    .change {
        text-transform: uppercase;
        cursor: text;
        padding: 2px;
        display: inline-block;
        width: 99%;
        border: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;

        &:hover {
            outline: #3b576d dotted 1px; 
        }
        
    }
    .change2 {
        cursor: text;
        padding: 2px;
        display: inline-block;
        width: 99%;
        border: none;
        font-size: 14px;
        font-weight: 500;
        text-align: left;

        &:hover {
            outline: #3b576d dotted 1px; 
        }
        
    }
    :global(.box){
        text-align: center;
        margin-top: 30px;
    }
    :global(.nameBox){
        display: block;
        margin-bottom: 15px;
        position: relative;
    }

    .CvMaker {
        width: 100%;
        margin: 0 100px;
        // background-color: #fafafa;
        .CvMaker__left {
             background-color: white;
            width: 40%;
            border: 1px solid black;
            padding: 20px 12px;
             margin: 20px 0;
            float: left;
            
            

            .CVMaker__left__avatar {
                width: 116px;
                margin: auto;
                margin-bottom: 15px;
                display: block;
                cursor: pointer;
                position: relative;
                
                &:hover .btnChange{
                    opacity: 1;
                }
                img {
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .btnChange {
                    position: absolute;
                    text-align: center;
                    background: rgba(0, 0, 0, .6);
                    color: #ffffff;
                    line-height: 34px;
                    width: 120px;
                    bottom: 43px;
                    font-size: 13px;
                    opacity: 0;
                    
                    i{
                        font-size: 14px !important;
                        padding-right: 3px;
                    }
                }
            }
            .CVMaker__left__info {
                text-align: center;
                .CVMaker__left__info__name {
                    
                    
                    
                }
                .CVMaker__left__info__job {
                    
                    
                    
                }
            }
        }
        .CvMaker__right {
            background-color: white;
            width: 60%;
            border: 1px solid black;
            border-left: none;
            padding: 20px 12px;
            margin: 20px 0;
        }
    }
}