h1 {
    display: inline-block;
    background: none;
    position: relative;
    margin: 0;
    font-size: 34px;
    line-height: normal;
    // text-transform: uppercase;
    z-index: 9999;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
    display: inline-block;
    background: none;
    position: relative;
    margin-top: 10px;
    font-size: 26px;
    line-height: normal;
    z-index: 9999;
    font-weight: bold;
}
h4 {
    margin-bottom: 10px;
}
b {
    width: 25%;
    font-size: 14px;
    float: left;
    text-align: left;

}
i{
    font-size: 22px;
    
}
.line {
    position: absolute;
    top: 22px;
    margin-top: 1px;
    height: 10px;
    background: #7B9CFF;
    width: 100%;
    right: 50px;
    float: right;
}
.line1 {
    position: absolute;
    top: 22px;
    margin-top: 1px;
    height: 5px;
    background: #7B9CFF;
    width: 80%;
     right: 50px;
    float: right;
    
}
.change1 {
    cursor: text;
    padding: 2px;
    display: inline-block;
    width: 70%;
    border: 1px dashed #b5bfc7 ;
    outline: none;
    font-size: 14px;
    border-radius: 3px;


    &:hover {
        border: 1px dashed #3b576d ;
        border-radius: 3px;
    }
    
}
.change {
    text-transform: uppercase;
    cursor: text;
    padding: 2px;
    display: inline-block;
    width: 99%;
    border: 1px dashed #b5bfc7 ;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    outline: none;
    border-radius: 3px;
    // background-color: #ff4242;
    
    

    &:hover {
        border: 1px dashed #3b576d ;
        border-radius: 3px;
    }
    
}
.change2 {
    cursor: text;
    padding: 2px;
    display: inline-block;
    width: 99%;
    border: 1px dashed #b5bfc7 ;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    border-radius: 3px;
    resize: none;
    overflow: hidden;

    &:hover {
        border: 1px dashed #3b576d ;
        border-radius: 3px; 
    }
    
}
:global(.box){
    text-align: center;
    margin-top: 20px;
    padding-left: 5px;
    border: 1px solid #fff ;
    &:hover {
        border: 1px solid #a4b9c9;
        border-radius: 3px;
        
    }
}
:global(.nameBox){
    display: block;
    margin-bottom: 15px;
    position: relative;
}

.addblock {
    border: 1px dashed #b5bfc7;
    border-radius: 3px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    >button {   
            color: #fff;
            font-size: 13px;
            font-weight: 700;
            background-color: black;
            padding: 15px 23px;
            border: 0;
            border-radius: 3px;
            margin: 43px 0; 
        }
        .addBlockItem {
            list-style: none;
            margin: 25px 0 0;
            padding: 0;
            display: none;

            
        }
}
.container {
    font-family: monospace;
    padding: 38px;
    margin: 20px 280px 0 0;
    display: inline-block;
    .row {
        display: inline-block;
        max-width: 940px;
        min-height: 1404px;
        margin: 0 auto;
        margin-top: 110px;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        background-color: white;
        // padding: 50px;
        .row1 {
             padding: 50px;
            height: 260px;
            position: relative;
        .row_left {
            width: 35%;

            // border: 1px solid black;
            // padding: 20px 12px;
            float: left;
            .bg_avt {
                
                display: block;
                cursor: pointer;
                position: relative;

                 &:hover .btnChange{
                    opacity: 1;
                }
                .avt_img {
                    box-shadow: -10px -10px 0 0 #7B9CFF;
                    width: 150px;
                    height: 150px;
                    // background-size: cover;
                    border: 2px solid black;
                   object-fit: cover;
                    
                
                    
                }
                .btnChange {
                    position: absolute;
                     text-align: center;
                    background: rgba(0, 0, 0, .6);
                    color: #ffffff;
                    line-height: 34px;
                    width: 150px;
                    bottom: 43px;
                    font-size: 13px;
                    opacity: 0;
                        
                    i{
                        font-size: 14px !important;
                        padding-right: 3px;
                        }
                    
                    }
                }
            }
            .row_right {
                position: relative;
                width: 65%;
                float: right;
            }
        }
        .row2 {
            .row_left {
                width: 35%;
                float: left;
            }
            .row_right {
                width: 60%;
                float: right;
            }
        }
    
    }
}






